{{ $mainCss := resources.Get "css/main.css" }}
{{ $appCss := resources.Get "css/app.css" }}
{{ $css := (slice $mainCss $appCss) }}
{{ $css = $css | resources.Concat "css/bundle.css" }}
{{ $css := $css | resources.Minify }}
<link type="text/css" rel="stylesheet" href="{{ $css.RelPermalink }}">

{{ $fa := resources.Get "/css/fontawesome-all.min.css" }}
<link rel="preload" href="{{ $fa.Permalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $fa.Permalink }}"></noscript>

<noscript>
    <link type="text/css"
          rel="stylesheet"
          href="{{ `css/noscript.css` | relURL }}"/>
</noscript>
