<header id="header">
    <div class="inner">
        <a href="/" class="logo">
            <img style="display: inline-block; border-radius: 100%; width: 60px;margin-right: 0.5rem" src="{{ "/img/logo.jpg" }}" alt="">
            <span class="title">{{ .Site.Title }}</span>
        </a>

        {{ with .Page.Params.breadcrumbs }}
            {{ partial "breadcrumb.html" $ }}
        {{ end }}

        <nav class="sidebar">
            <ul>
                <li><a href="#menu">{{ i18n "header.menu" }}</a></li>
            </ul>
        </nav>
    </div>
</header>
