{{ $bundleName := ($.Get "bundle") }}
{{ $bundle := .Site.GetPage $bundleName  }}
{{ $contentName := ($.Get "content") }}
{{ $isIndex := $.Get "index" | default false  }}
{{ $heading := ($.Get "heading") | default "h2" }}

{{ with $bundle }}
    {{ $bundleResources := .Resources }}

    {{- with $bundleResources.GetMatch $contentName -}}
        <section {{ with .Params.class }} class="{{ . }}"{{ end }} {{ with .Params.id }} id="{{ . }}"{{ end }}>
            {{ if ($isIndex) }}
                <header>
                    {{ printf "<%s>" $heading | safeHTML }}{{ .Title }}{{ printf "</%s>" $heading | safeHTML }}
                    {{ with .Description }}<p>{{ . }}</p>{{ end }}
                </header>
                <div class="content">
            {{ else }}
                <div class="content">
                    <header>
                        {{ printf "<%s>" $heading | safeHTML }}{{ .Title }}{{ printf "</%s>" $heading | safeHTML }}
                        {{ with .Description }}<p>{{ . }}</p>{{ end }}
                    </header>
            {{ end }}
                    {{ .Content }}
                </div>

            {{ with .Params.image }}
                {{ $imageResource := $bundleResources.GetMatch .src }}
                {{ if $imageResource }}
                    {{ $image := $imageResource.Resize .size }}
                    <div class="image">
                        <img src="{{ $image.RelPermalink }}" alt="{{ .alt }}">
                    </div>
                {{ end }}
            {{ end }}
        </section>
    {{ else }}
        <pre>No Bundle Resource</pre>

    {{ end }}
{{ else }}
    <pre>No Bundle {{ $bundleName }}</pre>
{{ end }}
